- page_title "Nombre de followers"

#container.highcharts-container{:style => "height:410px; width: 800px; margin: 0 auto; clear:both"}

- if @stat.present?
  :javascript
    var chart;
    $(document).ready(function() {
       chart = new Highcharts.Chart({
          chart: {
             renderTo: 'container',
             defaultSeriesType: 'line',
             marginRight: 130,
             marginBottom: 25
          },
          title: {
             text: 'Nombre de followers par jour',
             x: -20 //center
          },
          xAxis: {
             categories: #{array_or_string_for_javascript(@stat.map { |s| I18n.l(s.created_at.to_date) })}
          },
          yAxis: {
             title: {
                text: 'Nombre'
             },
             plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
             }]
          },
          tooltip: {
             formatter: function() {
                       return '<b>'+ this.series.name +'</b><br/>'+
                   this.x +': '+ this.y;
             }
          },
          legend: {
             layout: 'vertical',
             align: 'right',
             verticalAlign: 'top',
             x: -10,
             y: 100,
             borderWidth: 0
          },
          series: [{
             name: 'Nombre de followers',
             data: [#{@stat.map { |s| s.content.first }.join(", ")}]
          }]
       });
    });

- else
  %p Statistique indisponible pour l'instant...
