= form_for @twitter_status, :url => update_twitter_status_dashboard_short_urls_path do |f|
  %div(data-role="fieldcontain")
    = f.label :message
    = f.text_area :message, :size => "90x5"

  = f.submit "Tweet!"
  