%div(data-role="fieldcontain")
  = f.label :full_url
  = f.url_field :full_url, :class => "input-text"
%div(data-role="fieldcontain")
  = f.label :description
  = f.text_field :description, :class => "input-text"
  
