#baseline.span-24
  =image_tag "baseline.png"
  %h2 Qualifeed allows you to track your popular tweets.
  #macbook=image_tag "image.png"
  #sign_in= link_to image_tag("signin.png"), user_sign_in_twitter_path
  #footer
    = link_to image_tag("twitter.png"), "http://twitter.com/qualifeed"
    = link_to image_tag("facebook.png"), "http://www.facebook.com/qualifeed"
