.page-head
  %h3 Recent Activity
.page-content
  .notes-detail
    .close-note
    .shadow
      %div
        %ul
          %li
            Message
            %font{:color => "#f15a24"} 3 days
            overdue
            %a{:href => "#"} for ....
          %li
            Message
            %a{:href => "#"} Info
            open for
            %font{:color => "#f15a24"} 3 days
            %a{:href => "#"} for ....
  .notes
    %a{:href => "#"} 2 Notifications Closed
  / div.notes-detail end
  .data-table
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th{:colspan => "3"} Listing 1
      %tbody
        %tr.first
          %td.topic
            %label.label.ticket Label 1
            %a{:href => "#"} Label 1 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date
            %strong TODAY
        %tr.even
          %td.topic
            %label.label.comment Label 2
            %a{:href => "#"} Label 2 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date
            %strong TODAY
        %tr
          %td.topic
            %label.label.person Label 3
            %a{:href => "#"} Label 3 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date Tue Apr 28
        %tr.even
          %td.topic
            %label.label.ticket Label 4
            %a{:href => "#"} Label 4 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date Yesterday
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th{:colspan => "3"} Listing 2
      %tbody
        %tr.first
          %td.topic
            %label.label.ticket Label 1
            %a{:href => "#"} Label 1 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date
            %strong TODAY
        %tr.even
          %td.topic
            %label.label.comment Label 2
            %a{:href => "#"} Label 2 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date
            %strong TODAY
        %tr
          %td.topic
            %label.label.person Label 3
            %a{:href => "#"} Label 3 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date Tue Apr 28
        %tr.even
          %td.topic
            %label.label.ticket Label 4
            %a{:href => "#"} Label 4 Text
          %td.author
            Posted by
            %a{:href => ""} User
          %td.date Yesterday
  / div.data-table end
/ div.page-content end
/ div.main end
/ div.wrapper end, div.footer start