!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Socianalytics
    = stylesheet_link_tag "saas-common"
    = stylesheet_link_tag "saas-default"
    /[if IE]
      <script src="javascripts/html5.js"></script>
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    = javascript_include_tag "jquery.min", "easySlider1.5", "saas", "jquery.cookie.min", "saas.twitter"

  %body.home.page.page-template-page-home-php
    .header
      %div
        .center
          .topLinks
            .menu-top-links-container
              %ul#menu-top-links.menu
                %li.menu-item
                  %a{:href => "about.html"} About
                %li.menu-item
                  %a{:href => "blog.html"} Blog
                %li.menu-item
                  %a{:href => "help.html"} Help
                %li.menu-item
                  %a{:href => "contact-us.html"} Contact Us
          %h1#logo
            %a{:href => "home.html"}
              %img{:alt => "SaaS Theme II", :src => "images/logo.png"}/
          .nav
            .menu-main-nav-container
              %ul#menu-main-nav.menu
                %li.menu-item
                  %a{:href => "tour.html"}
                    %span Tour
                %li.menu-item
                  %a{:href => "plans-pricing.html"}
                    %span Plans & Pricing
                %li.menu-item
                  %a{:href => "sign-up.html"}
                    %span Sign Up!
    / div.header end
    / div.container start
    .container
      = yield
    / div.container end
    / div.footer start
    .footer
      .prom
        .center
          %h2
            %strong> Start doing stuff now!
            Try us out free for 30 days.
          .right
            %a{:href => "sign-up.html"}
              %img{:alt => "Sign Up!", :src => "images/btn-sign-up.png"}/
      .links
        .center
          %div
            %h3 Company
            %p
              %a{:href => "#"} Leadership
              %br/
              %a{:href => "#"} Partners
              %br/
              %a{:href => "#"} Investors
          %div
            %h3 Keep in Touch
            %ul.social-links
              %li
                %a{:href => "http://twitter.com/themeteam"}
                  %img{:alt => "", :src => "images/i_socialTwitter.png"}/
              %li
                %a{:href => "http://www.facebook.com/facebook-name"}
                  %img{:alt => "", :src => "images/i_socialFacebook.png"}/
              %li
                %a{:href => "http://www.flickr.com/photos/flickr-name/"}
                  %img{:alt => "", :src => "images/i_socialFlickr.png"}/
              %li
                %a{:href => "http://saas-wp-ii.worryfreelabs.com/feed/"}
                  %img{:alt => "", :src => "images/i_socialRss.png"}/
              %li
                %a{:href => "http://linkedin.com/in/linkedin-name"}
                  %img{:alt => "", :src => "images/i_socialLinkedin.png"}/
              %li
                %a{:href => "http://www.youtube.com/user/youtube-name"}
                  %img{:alt => "", :src => "images/i_socialYoutube.png"}/
          %div
            %h3 Support
            %p
              %a{:href => "#"} Create a Support Ticket
              %br/
              %a{:href => "#"} FAQs
              %br/
              %a{:href => "#"} Forum
              %br/
              %a{:href => "#"} Live Chat
          %div
            %h3 SaaS Corp, Inc.
            %p
              544 Oenoke Ridge
              %br/
              New Canaan, CT 06480
            %p
              %a{:href => "http://gothemeteam.com/"} http://gothemeteam.com/
              %br/
              Toll Free: (800) 555-1212
    / div.footer end
    %script{:src => "javascripts/jquery/jquery.form.js?ver=2.02m", :type => "text/javascript"}
